<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Colton Tatum FullStack Designer" />
  <meta property="og:description" content="I am a fullstack webdesigner" />
  <meta property="og:url" content="" />
  <title>Colton Tatum</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="section-one-container" id='sectionone'>

    <div class="opacitylayer">
      <div class="slidein">
        <div class="left-slide-container">
          <object data="static\media\img\polygon2.svg" type="image/svg+xml" class="polygon"></object>
        </div>
        <main>

          <a href="https://www.linkedin.com/in/colton-tatum404/"><img
              src="static/media/img/5282542_linkedin_network_social network_linkedin logo_icon.png" alt="" /></a>
          <section>
            <h1>Colton Tatum <br>
              Full-Stack Developer</h1>
            {% comment %} <a href="#sectiontwo"><img src="static/media/img/outline_expand_more_black_24dp.png"
                alt="" /></a> {% endcomment %}
          </section>
        </main>
        <div class="right-slide-container">
        </div>
      </div>
    </div>
  </div>

  <div class="section-two-container" id='sectiontwo'>
    <div class="arrow-container">

      <img src="static/media/img/outline_expand_more_black_24dp.png" alt="" />

    </div>

    {% comment %} <a href="#sectionone"><img src="static/media/img/outline_expand_more_black_24dp.png" alt="" /></a>
    {% endcomment %}
    <div class="section-two-info">
      <div class="project-title">Projects</div>

      <div class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consectetur, hic consequatur ea quo
        praesentium rem
        explicabo nam exercitationem at, autem nobis veniam adipisci tempore. Aperiam quae molestiae nesciunt. Sapiente.
      </div>
    </div>
  </div>
</body>

</html>